body{
    
    background: #F4F4F4;
    background-image: url("webback.jpg");
}

.link-title{
    text-decoration: none;
    font-size: 60px;
    color: #444444;
}
#logo {
    padding: 30px 3px 10px 10px;
}
page-heading{
    color: darkgrey;
    text-align: center;
    
}
.container{
        color: aqua;
    background-color: oldlace;
    background-image: url("abc.jpg");
    width:780px;
    box-shadow: 0 9px 13px 5px;
    margin:  0 auto;
    background: #FFF;
}
.header{
    padding: 45px 0 20px 40px;
    
}
.menu{
    background: #3b7687;
    padding: 6px 0 6px 40px;
    
}

.menu a{
    color: antiquewhite;
    text-decoration: none;
    font-size: 14px;
    font-family: fantasy;
    
}

.menu a:hover{
    color: #ecf2f3;
    
}

aside{
    float: left;
    width: 120px;
    padding: 30px 0 0 40px;
}
h1{
    color: brown;
    margin: 0px;
    font-size: 30px;
    font-family: "Arial Narrow", "Myriad Pro";
    font-weight: normal;
}
h2{
    color: black;
    margin: 20px 0 5px 0;
    font-size: 15px;
    
    
}
p {
    color: black;
    text-align: justify;
    font-size: 15px;
}

.main{
    margin: 0 0 0 180 px;
    padding: 35px 40px 30px 0;
    color: skyblue;
    font-size: 13px;
    line-height: 18px;
    text-emphasis: justify;
    font-family:inherit; 
}
.main a:hover{
    color: #444444;
}

#home-image img{
    width: 100%;
    margin: 0 auto;
}
footer{
    padding: 6px 40px 6px 40px;
    background: #d6d6d6;
    font-family: lucida sans unicode;
    color: #444444;
    font-size: 11px;
    text-decoration: right;
}

footer a{
    color: #262626;
    text-decoration: none;
}
#separator{
    color: #FFFFFF;
    font-size: 11px;
}



#about-page #home-image img{
    width: 50%;
    float: left;
}

#about-page #profile-info{
    float: right;
    width: 20%;
    margin: 5px;
    margin-bottom: 19px;
}

#about-page .description{
    clear: both;
    margin-top: 29px;
}



#contact #form {
    
    margin: auto;
    width: 400px;
    
    padding: 20px 20px 20px 20px;
}

#contact #form input {
        background: bisque;
    width: 100%;
    
    border-radius: 5px;
    height: 15px;
}
#contact #form #message {
     background: bisque;
    width: 100%;
    
    border-radius: 5px;
    
}

#contact #form #submit {
    height: 30px;
    background-color: chocolate;
}